/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body{
    background: #000;
    color: #ffffff;
    font-size: 16px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 400;
    font-style: normal;
}

.mainTitle{
    font-size: 54px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    text-align: left;
    line-height: 72px;
    letter-spacing: 4px;
}
.mainTitleMobile{
    display: none;
}
.mainSubTitleMobile{
    display: none;
}

.sectionTitle {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
}

.head{
    background-image: url("../img/head-bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: 100% 0;
    width: 100%;
    height: 990px;
}
header{
    padding-top: 25px;
}

.logo{
    float: left;
    margin-right: 28px;
}
.logo.logoDesktop {
    display: block;
    width: 160px;
}
.logo.logoMobile {
    display: none;
    width: 60px;
}
.logo a{
    display: block;
}
.logo a img{
    display: block;
}

.navigation{
    float: left;
    margin-top: 19px;
}

.navigation ul{
    font-size: 0;
}
.navigation ul>li{
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
}
.navigation ul>li:first-child{
    margin-left: 0;
}

.navigation ul>li a{
    text-transform: capitalize;
    color: #ffffff;
    font-size: 16px;
}
.navigationMobile{
    display: none;
}

.headerOptions{
    float: right;
}
.socialIcons{
    display: inline-block;
}
.responsiveBtn{
    display: none;
}

.headerOptions .socialIcons{
    float: left;
    margin-top: 12px;
    font-size: 0;
}
.headerOptions .flagList{
    float: left;
    margin-top: 5px;
    margin-left: 28px;
}


.socialIcons li{
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    font-size: 12px;
}
.socialIcons li:first-child{
    margin-left: 0px;
}
.socialIcons li a{
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 50%;

}
.socialIcons li a:hover{
    border: 1px solid #cccfff;
}

.socialIcons li a.fb{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -25px -17px;
}
.socialIcons li a.twitter{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -69px -16px;
}
.socialIcons li a.mb{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -113px -16px;
}
.socialIcons li a.google{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -158px -16px;
}
.socialIcons li a.youtube{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -203px -16px;
}
.socialIcons li a.reddit{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -247px -17px;
}
.socialIcons li a.telegram{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -291px -17px;
}

/*
select#flags option[value="GB"]   { background-image:url("../img/flag-gb.jpg");  }
select#flags option[value="RU"] { background-image:url("../img/flag-gb.jpg"); } */
.select-language {
    display: block;
    width: 120px;
    height: 45px;
    border: 1px solid #ffffff;
    border-radius: 35px;
    background-color: rgba(1,4,11, 0.7);
    color: #ffffff;
    position: relative;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
}
.select-language .default-option {
    overflow: hidden;
    height: 45px;
    cursor: pointer;
    padding: 12px 6px;
    text-align: center;
}
.select-language .default-option label,
.select-language .default-option a,
.select-language .options .option input + label,
.select-language .options .option a {
    display: block;
    width: 100%;
    padding: 0 8px;
    color: #005c87;
    cursor: pointer;
}
.select-language .default-option img,
.select-language .options .option img {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 18px;
    margin: 0 10px 0 0;
    border: 1px solid #d4e1ea;
}
.select-language .options .option span,
.select-language .default-option label span{
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    position: relative;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
    margin-right: 10px;
}
.select-language .options {
    display: none;
    background: rgba(1,4,11, 0.7);
    border: 1px solid #d4e1ea;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 9999;
    border-radius: 10px;
    overflow: hidden;
}
.select-language .options .option {
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #d4e1ea;
    cursor: pointer;
}
.select-language .options .option:last-child {
    border-bottom: none;
}
.select-language i {
    display: inline-block;
    width: 10px;
    height: 6px;
    position: absolute;
    top: 18px;
    right: 13px;
    font-size: 10px;
    color: #ffffff;
    z-index: 9999;
    background-image: url("../img/arrow-down.png");
}


.loginBtn {
    display: none;
    padding: 12px 45px;
    border: 1px solid #00aeef;
    border-radius: 35px;
    background-color: rgba(1,4,11, 0.7);
    color: #ffffff;
    position: relative;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: "proxima_nova_rgregular", Arial, Helvetica, sans-serif;
}

.head .loginBtn {
    float: right;
    margin-top: 9px;
}

.headOptions{
    padding-top: 84px;
    padding-bottom: 370px;
}
.keepTouch{
    width: 100%;
    height: 470px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    padding: 10px 5px 40px 5px;
}
.keepTouchTitle{
    color: #ffffff;
    line-height: 45px;
    font-size: 26px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 21px;
}
.subscriptionForm input{
    color: #ffffff;
    font-size: 16px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 400;
    font-style: normal;
    border-radius: 27.5px;
    padding: 18px 32px;
    width: 100%;
    outline: none;
}
.subscriptionForm input[type=text]{
    background-color: transparent;
    color: #ffffff;
    text-align: left;
    border: 1px solid #ffffff;
}
.subscriptionForm input[type=text]:-moz-placeholder,
.subscriptionForm input[type=text]::-webkit-input-placeholder,
.subscriptionForm input[type=text]:-ms-input-placeholder{
    color: #ffffff;
}
.subscriptionForm input[type=submit]{
    background-color: #ff4e00;
    border: 1px solid #ff4e00;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}
.register{
    display: inline-block;
    background-color: #cda326;
    border: 1px solid #cda326;
    color: #000000;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: bold;
    font-style: normal;
    border-radius: 27.5px;
    padding: 18px 32px;
    width: 100%;
    outline: none;
    text-transform: capitalize;
    cursor: pointer;
}

.lcgBtn{
    display: inline-block;
    color: #ffffff;
    border: 1px solid #00aeef;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: bold;
    font-style: normal;
    border-radius: 27.5px;
    padding: 18px 32px;
    width: 100%;
    outline: none;
    text-transform: capitalize;
    cursor: pointer;
}
.lcgBtn.blue{
    background-color: #00aeef;
    border: 1px solid #00aeef;
}


.owl-carousel{
    display: none;
}

.preSalesList{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.preSalesList li{
    display: inline-block;
}
.preSalesList li span{
    display: block;
    width: 69px;
    height: 69px;
    border-radius: 50%;
}
.preSalesList li span.first{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -24px -527px;
}
.preSalesList li span.second{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -24px -527px;
}
.preSalesList li span.third{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -24px -527px;
}
.preSalesList li span.fourth{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -24px -527px;
}
.preSalesBonus{
    display: block;
    color: #ffffff;
    font-size: 24px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 24px;
    margin-bottom: 20px;
}
.preSalesBonus .preSalesBonusNumber{
    color: #00aeef;
    font-size: 32px;
    line-height: 32px;
}

.mainOptionsList{
    margin-top: 75px;
}
.mainOptionsList li .mainOptionsIcons{
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    width: 37px;
    height: 37px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -24px -60px;
}
.mainOptionsList li .mainOptionsText{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 78px);
    color: #ffffff;
    font-size: 20px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 28px;
    margin-left: 15px;
    margin-bottom: 25px;
}
.mainOptionsList li:last-child .mainOptionsText {
    margin-bottom: 50px;
}
.mainAuxOptions{

}
.mainAuxOptions li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 45px;
}
.mainAuxOptions li .mainAuxOptionsIcons{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}
.mainAuxOptions li .mainAuxOptionsIcons.paper{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -72px -61px;
}
.mainAuxOptions li .mainAuxOptionsIcons.book{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -123px -61px;
    width: 58px;
}
.mainAuxOptions li .mainAuxOptionsText{
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 18px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
}

.video{
    background-image: url("../img/video-bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
}
.videoBox{
    padding-top: 85px;
    padding-bottom: 103px;
}
.videoBox iframe{
    width: 100%;
    height: 550px;
}
.unison{
    display: none;
}
.energyFeatures{
    display: block;
}
.unisonEcoSystem{
    display: none;
}
.entities{
    display: none;
}

.technologyList{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    text-align: center;
}
.technologyList li .technologyListIcon{
    display: inline-block;
    width: 172px;
    height: 172px;
    margin-bottom: 30px;
}
.technologyList li .technologyListIcon.first{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -12px -182px;
}
.technologyList li .technologyListIcon.second{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -196px -182px;
}
.technologyList li .technologyListIcon.third{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -383px -193px;
}
.technologyList li .technologyListTitle{
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 400;
    font-style: normal;
}

.techCycles{
    display: none;
}

.lcgFeaturesList{
    display: flex;
    justify-content: space-between;
    margin-top: 145px;
    margin-bottom: 110px;
    text-align: center;
}
.lcgFeaturesList li{
    width: 27%;
}
.lcgFeaturesList li .lcgFeaturesListIcon{
    display: inline-block;
    width: 150px;
    height: 140px;
    margin-bottom: 20px;
}
.lcgFeaturesList li .lcgFeaturesListIcon.first {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -5px -382px;
}
.lcgFeaturesList li .lcgFeaturesListIcon.second{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -210px -376px;
}
.lcgFeaturesList li .lcgFeaturesListIcon.third{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -393px -383px;
}
.lcgFeaturesList li .lcgFeaturesListTitle{
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
}

.featuresToken{
    background-image: url("../img/features-bg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-top: 198px;
}

.tokensDistribution{
    padding-top: 110px;
    padding-bottom: 205px;
}
.tokensDistribution .tokensDistribItemList{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 108px;
    margin-bottom: 58px;
}
.tokensDistribution .tokensDistribTitle{
    color: #00aeef;
    font-size: 23px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 8px;
}
.tokensDistribution .tokensDistribSubTitle{
    color: #ff4e00;
    font-size: 18px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 8px;
}
.tokensDistribution .tokensDistribCaption{
    color: #ff4e00;
    font-size: 18px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 12px;
}
.tokensDistribution .tokensDistribCaption{
    color: #ffffff;
    font-size: 18px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 12px;
}
.tokensDistribution .tokensDistribItem{
    padding: 34px 26px 37px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
}


.tokensDistribList{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.tokensDistribList li{
    display: inline-block;
}
.tokensDistribList li span{
    display: block;
    width: 63px;
    height: 63px;
    border-radius: 50%;
}
.tokensDistribList li span.first{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -24px -527px;
}
.tokensDistribList li span.second{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -24px -527px;
}
.tokensDistribList li span.third{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -24px -527px;
}
.tokensDistribList li span.fourth {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -24px -527px;
}

.t1,
.t4{
    background-image: url("../img/t1.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 198px;
}
.t2,
.t3{
    background-image: url("../img/t2.png");
    background-repeat: no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
    background-position: center;
    width: 100%;
    height: 198px;
}

.roadmap{
    background-image: url("../img/roadmap-bg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-top: 95px;
    padding-bottom: 125px;
}
.roadmapDesktop{
    display: block;
}
.roadmapMobile{
    display: none;
}
.roadMapList{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 30px;
}
.roadMapList.top{
    margin-top: 90px;
}
.roadMapList li{
    text-align: center;
    width: 18%;
}
.roadMapList li .roadMapTitle{
    color: #ff4e00;
    font-size: 14px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 8px;
}
.roadMapList li .roadMapCaption{
    color: #ffffff;
    font-size: 14px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 8px;
}

.roadMapPoints{
    background-image: url("../img/roadmap.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 84px;
}


.teamMembers {
    display: flex;
    justify-content: center;
    margin-top: 128px;
}
.teamMembers li{
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.teamMembers li img{
    margin-bottom: 25px;
}
.teamMembers li .temMemberName{
    color: #ffffff;
    font-size: 26px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 15px;
}
.teamMembers li .temMemberTitle{
    color: #ffffff;
    font-size: 20px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
}
.teamMembersSlider{
    display: none;
}

.featuredIn{
    padding-top: 145px;
    padding-bottom: 200px;
}

.featuredInList{
    display: flex;
    justify-content: space-between;
    margin-top: 82px;
}
.featuredInList li{
    display: inline-block;
    width: 30%;
}
.featuredInList li span{
    display: block;
    width: 100%;
    height: 66px;
}
.featuredInList li span.first{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -24px -600px;
}
.featuredInList li span.second{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -24px -672px;
}
.featuredInList li span.third{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -24px -752px;
}


.joinCommunity{
    padding-top: 10px;
    padding-bottom: 200px;
}
.communityOptions{
    padding-top: 52px;
    text-align: center;
}

.communityOptions .socialIcons li a{
    display: block;
    width: 45px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 50%;
}
.communityOptions .socialIcons li a:hover{
    border: 1px solid #cccfff;
}

.communityOptions .socialIcons li a.fb{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -390px -8px;
}
.communityOptions .socialIcons li a.twitter{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -451px -8px;
}
.communityOptions .socialIcons li a.mb{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -511px -8px;
}
.communityOptions .socialIcons li a.google{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -572px -8px;
}
.communityOptions .socialIcons li a.youtube{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -636px -8px;
}
.communityOptions .socialIcons li a.reddit{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -697px -8px;
}
.communityOptions .socialIcons li a.telegram{
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -755px -8px;
}


footer{
    padding-bottom: 94px;
}
.footerColTitle{
    color: #ffffff;
    font-size: 25px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.footerColList li a{
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.copyright{
    display: block;
    margin-top: 90px;
    font-size: 14px;
    font-family: Montserrat, Arial, Verdana, SansSerif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 20px;
    text-transform: capitalize;
}



@media screen and (max-width: 1248px) and (min-width: 993px) {

}
@media screen and (max-width: 1248px) {

    .headerOptions .socialIcons{
        display: none;
    }
}


@media screen and (max-width: 992px) {

    .head{
        height: auto;
    }
    .logo.logoDesktop {
        display: none;
    }
    .logo.logoMobile {
        display: block;
    }
    .headOptions{
        padding-top: 60px;
        padding-bottom: 120px;
    }
    .loginBtn{
        display: inline-block;
    }
    .navigationMobile {
        width: 100%;
        display: none;
        position: absolute;
        top: 90px;
        left: 0;
        background: #000;
        height: auto;
        float: none;
        z-index: 5;
        margin-left: 0;
    }
    .navigationMobile li {
        height: auto;

        width: 100%;
        text-align: center;
        border-top: 0.5px solid #34333F;
    }
    .navigationMobile li a {
        display: block;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        padding: 15px 0;
        white-space: nowrap;
        outline: none;
    }
    .mainTitle{
        display: none;
    }
    .sectionTitle{
        font-size: 30px;
        line-height: 40px;
    }
    .mainTitleMobile{
        display: block;
        font-size: 36px;
        font-family: Montserrat, Arial, Verdana, SansSerif;
        font-weight: bold;
        font-style: normal;
        color: #ffffff;
        text-align: left;
        line-height: 50px;
        letter-spacing: 4px;
    }
    .mainSubTitleMobile{
        display: block;
        font-size: 20px;
        font-family: Montserrat, Arial, Verdana, SansSerif;
        font-weight: bold;
        font-style: normal;
        color: #ffffff;
        text-align: left;
        line-height: 30px;
        letter-spacing: 4px;
    }
    .responsiveBtn {
        display: inline-block;
        float: right;
        padding: 6px 6px 6px 6px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 15px;
    }
    .responsiveBtn span {
        display: block;
        width: 30px;
        height: 4px;
        background: #ffffff;
        margin-bottom: 5px;
    }
    .headerOptions{
        display: none;
    }
    .navigation {
        display: none;
    }
    .keepTouch{
        height: auto;
    }
    .subscription{
        display: none;
    }
    .subscriptionMobile{
        display: block;
        margin-top: 30px;
    }

    .unison{
        display: block;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .unison .unisonSubtitle{
        color: #ffffff;
        font-size: 14px;
        font-family: Montserrat, Arial, Verdana, SansSerif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        line-height: 24px;
        margin-bottom: 50px;
    }
    .unison .unisonListIcon{
        display: inline-block;
        vertical-align: middle;
        width: 65px;
        height: 65px;
    }
    .unisonList li{
        margin-bottom: 25px;
    }
    .unison .unisonListIcon.first{
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -582px -371px;
    }
    .unison .unisonListIcon.second{
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -680px -368px;
    }
    .unison .unisonListIcon.third{
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -765px -375px;
    }
    .unison .unisonListIcon.fourth{
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -582px -371px;
    }

    .unison .unisonListTitle{
        display: inline-block;
        vertical-align: middle;
        margin-left: 12px;
    }
    .unison .unisonListDesc{
        color: #ffffff;
        font-size: 12px;
        font-family: Montserrat, Arial, Verdana, SansSerif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        line-height: 20px;
        margin-top: 18px;
    }

    .videoBox{
        padding-top: 15px;
    }
    .energyFeatures{
        display: none;
    }
    .tokensDistribution {
        display: none;
        padding-top: 60px;
        padding-bottom: 120px;
    }
    .tokensDistribution .tokensDistribItem{
        margin-bottom: 15px;
    }


    .unisonEcoSystem{
        display: block;
        padding-top: 15px;
        padding-bottom: 30px;
    }
    .unisonEcoCaption{
        margin-top: 48px;
    }
    .unisonEcoTitle{
        display: inline-block;
        vertical-align: middle;
        color: #f9c71a;
        font-size: 20px;
        font-family: Montserrat, Arial, Verdana, SansSerif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        line-height: 50px;

    }
    .unisonEcoTitleIcon {
        display: inline-block;
        vertical-align: middle;
        width: 58px;
        height: 50px;
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -327px -60px;
        margin-right: 18px;
    }
    .unisonEcoList {
        margin-top: 35px;
        margin-bottom: 25px;
    }
    .unisonEcoList li {
        margin-bottom: 18px;
    }
    .unisonEcoList .unisonEcoIcon{
        display: inline-block;
        vertical-align: top;
        width: 27px;
        height: 27px;
    }
    .unisonEcoList .unisonEcoIcon.first{
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -263px -60px;
    }
    .unisonEcoList .unisonEcoIcon.second{
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -263px -60px;
    }
    .unisonEcoList .unisonEcoIcon.third{
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -263px -60px;
    }
    .unisonEcoList .unisonEcoIcon.fourth{
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -263px -60px;
    }
    .unisonEcoList .unisonEcoText{
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 55px);
        color: #ffffff;
        font-size: 12px;
        font-family: Montserrat, Arial, Verdana, SansSerif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        line-height: 18px;
        margin-left: 18px;
    }


    .mobileApps{
        display: block;
        margin-top: 45px;
        text-align: center;
    }
    .mobileApps ul li{
        margin-bottom: 7px;
    }
    .mobileApps ul li .mobileAppIcon{
        width: 225px;
        height: 67px;
        display: inline-block;
        vertical-align: top;
    }
    .mobileApps ul li .mobileAppIcon img{
        display: block;
    }
    .mobileApps ul li .scan{
        display: inline-block;
        vertical-align: top;
        width: 65px;
        height: 65px;
        margin-left: 30px;
    }
    .mobileApps ul li .scan img{
        display: block;
    }

    .teamMembers {
        display: none;
    }
    .technologyList{
        display: none;
    }
    .featuresToken{
        display: none;
    }

    .entities{
        display: block;
    }
    .unisonEcoTitleIcon {
        display: inline-block;
        vertical-align: middle;
        width: 58px;
        height: 50px;
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -327px -60px;
        margin-right: 18px;
    }
    .entitiesList {
        margin-top: 35px;
        margin-bottom: 25px;
    }
    .entitiesList li {
        margin-bottom: 38px;
    }
    .entitiesList .entitiesListIcon{
        display: inline-block;
        vertical-align: top;
        width: 46px;
        height: 46px;
    }
    .entitiesList .entitiesListIcon.first{
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -452px -60px;
    }
    .entitiesList .entitiesListIcon.second{
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -526px -60px;
    }
    .entitiesList .entitiesListIcon.third{
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -607px -61px;
    }
    .entitiesList .entitiesListIcon.fourth{
        height: 58px;
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -683px -60px;
    }
    .entitiesList .entitiesListTitle{
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 80px);
        color: #ffffff;
        font-size: 16px;
        font-family: Montserrat, Arial, Verdana, SansSerif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        line-height: 22px;
        margin-left: 18px;
    }

    .techCycles{
        display: block;
    }
    .techCyclesSubTitle{
        color: #ffffff;
        font-size: 22px;
        font-family: Montserrat, Arial, Verdana, SansSerif;
        font-weight: 600;
        font-style: normal;
        text-align: left;
        line-height: 50px;
    }
    .techCyclesList{
        margin-top: 45px;
        margin-bottom: 35px;
    }
    .techCyclesSubList{
        margin-top: 30px;
        margin-bottom: 35px;
    }
    .techCyclesSubList li {
        margin-bottom: 18px;
    }
    .techCyclesSubList .techCyclesSubIcon{
        display: inline-block;
        vertical-align: top;
        width: 27px;
        height: 27px;
    }
    .techCyclesSubList .techCyclesSubIcon.first{
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -263px -60px;
    }
    .techCyclesSubList .techCyclesSubIcon.second{
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -263px -60px;
    }
    .techCyclesSubList .techCyclesSubText{
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 55px);
        color: #ffffff;
        font-size: 12px;
        font-family: Montserrat, Arial, Verdana, SansSerif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        line-height: 18px;
        margin-left: 18px;
    }




    .teamMembersSlider{
        display: block;
    }
    .owl-carousel{
        margin-top: 128px;
    }
    .owl-carousel button.owl-dot{
        background: #cacaca;
        border: 1px solid #cacaca;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-left: 8px;
    }
    .owl-carousel button.owl-dot:first-child{
        margin-left: 0px;
    }
    .owl-carousel button.owl-dot.active{
        background: #00aeef;
        border: 1px solid #00aeef;
    }
    .owl-carousel .owl-dots{
        text-align: center;
    }

    .owl-carousel .owl-item img{
        display: block;
        width: 182px;
        height: 252px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    .owl-carousel .owl-item .temMemberName,
    .owl-carousel .owl-item .temMemberTitle{
        text-align: center;
    }
    .owl-carousel .owl-item .temMemberName{
        color: #ffffff;
        font-size: 26px;
        font-family: Montserrat, Arial, Verdana, SansSerif;
        font-weight: 600;
        font-style: normal;
        margin-bottom: 15px;
    }
    .owl-carousel .owl-item .temMemberTitle{
        color: #ffffff;
        font-size: 20px;
        font-family: Montserrat, Arial, Verdana, SansSerif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 15px;
    }


    .roadmap{
        background-image: none;
    }
    .roadmapDesktop {
        display: none;
    }
    .roadmapMobile{
        display: block;
    }
    .roadMapListMobile{
        display: inline-block;
        margin-top: 50px;
    }
    .roadMapListMobile li{
        display: block;
        margin-bottom: 5px;
        font-size: 0;
    }
    .roadMapListMobile li .roadMapListMicon{
        display: inline-block;
        vertical-align: top;
        width: 46px;
        height: 104px;
        background-image: url("../img/road-map-list-mobile.png");
        background-repeat: no-repeat;
    }
    .roadMapListMobile li .roadMapListContent{
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 55px);
        height: 104px;
        text-align: left;
        padding-left: 20px;
    }
    .roadMapListMobile li .roadMapListMTitle{
        color: #ffffff;
        font-size: 15px;
        font-family: Montserrat, Arial, Verdana, SansSerif;
        font-weight: 200;
        font-style: normal;
        line-height: 24px;
    }
    .roadMapListMobile li .roadMapListMCaption{
        color: #ffffff;
        font-size: 13px;
        font-family: Montserrat, Arial, Verdana, SansSerif;
        font-weight: 200;
        font-style: normal;
        line-height: 28px;
        background-image: url("../img/triangle.png");
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        padding-left: 35px;
    }

    .featuredInList {
        display: block;
    }
    .featuredInList li{
        display: block;
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }


    footer{
        text-align: center;
    }
    footer .footerColList{
        display: inline-block;
        text-align: left;
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 360px) {

    .team {
        background-image: url("../img/team-member-bg.jpg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: contain;
        width: 100%;
        background-position: center center;
        height: 650px;
    }
    .unison{
        background-image: url("../img/unison-bg.jpg");
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        width: 100%;
        background-position: center center;
        height: auto;
    }
    .techCycles{
        background-image: url("../img/tech-cycles-bg.jpg");
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        width: 100%;
        background-position: center center;
        height: auto;
    }
}